@font-face {
    font-family: 'Nouveau_IBM_Stretch';
    src: url('Nouveau_IBM_Stretch.ttf') format('truetype');
}

body {
    font-family: 'Nouveau_IBM_Stretch' !important;
    margin: 0;
    padding: 0;
    background-color: #0000AA;
}



.non-draggable {
    -webkit-app-region: no-drag;
}

::selection {
    background: #7F0055;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #7F0055;
    /* Gecko Browsers */
}



#filename {
    color: #aaa;
}

.header {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.toolbar,
#status {
    background-color: #303030;
    padding: 10px;
    color: #D0D0D0;
}

#status {
    height: 1em;
    font-size: 13px;
    text-align: right;
}

.toolbar button {
    font-size: 13px;
    color: #F0F0F0;
    background-color: #505050;
    border: 1px solid #101010;
    width: 90px;
    padding: 7px 0;
    border-radius: 5px;
}

.toolbar button:hover {
    color: #FFF;
    background-color: #606060;
    border: 1px solid #202020;
    cursor: pointer;
}

#editor {
    flex: 1;
}

.ace_scrollbar-h::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.ace_scrollbar-h::-webkit-scrollbar {
    width: 10px;
    background-color: #555555;
}

.ace_scrollbar-h::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.ace_scrollbar-v::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.ace_scrollbar-v::-webkit-scrollbar {
    width: 10px;
    background-color: #555555;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}